.card {
  position: relative;
  display: flex;
  height: 280px;
  width: 100%;
  cursor: pointer;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  user-select: none;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover::before {
  content: "";
  opacity: 1;
}

.container {
  position: absolute;
  inset: 1px;
  z-index: 2;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: inherit;
  padding: 24px 0;
  background-color: rgb(23 23 23);
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  height: 100%;
  padding: 0 24px;
}

.imageWrapper {
  position: absolute;
  left: 50%;
  top: -10%;
  height: 172px;
  width: 323px;
  transform: translateX(-50%);
}

.image {
  height: auto;
  width: 323px;
}

.contentWrapper {
  display: flex;
  flex: initial;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 12px;
}
