.overlay::before {
  backdrop-filter: blur(12px);
  mask-image: linear-gradient(to bottom, black 48px, transparent);
}

.overlay::after,
.overlay::before {
  content: "";
  position: absolute;
  inset: -1px 0px -50%;
}
